@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

.animate-subtitle {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 1s
}

.animate-title {
  opacity: 0;
  animation: fadeIn 1.2s ease-out forwards;
  animation-delay: 0.5s
}

:root {
  --background-primary: #0a7b83;
  --background-secondary: "";
  --background-tertiary: #dbeafe;
  --background-accent: "";
  --background-compliment: "";
  --background-gradient: "";
  --background-muted: #f8fafc;

  --color-primary: #030615;
  --color-secondary: "";
  --color-tertiary: "";
  --color-accent: "";
  --color-compliment: "";
  --color-gradient: "";
  --color-muted: ;
  --color-link: #008B8B;
  --color-link-transparent: rgba(37, 99, 235, 0.1);

  --color-success: "";
  --color-warning: "";
  --color-error: "";
  --color-info: "";
  --color-highlight:#49796B;

  --gradient-start: #00674b;
  --gradient-end: #006241;

  --border-primary: #f1f5f9;
  --border-secondary: #bed1e7;
  --border-highlight: #64748b;
  --border-tertiary: "#a0aec0";

  --shadow-dark: "";
  --shadow-light: "";
  --shadow-text: "";

  --padding-small: 1rem;
  --padding-large: 2rem;

  --border-radius-small: 0.5rem;
  --border-radius-large: 0.75rem;
  --highlight-border-radius: 0.5rem;

  --text-selection: "";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #EAEFEF !important;
    --background-secondary: #f0f0f0 !important;
    --background-tertiary: #e0e0e0 !important;
    --background-accent: "#0a7b83";
    --background-muted: #fafafa !important;

    --color-primary: #030615;
    --color-link: #008B8B;
    --color-link-transparent: rgba(37, 99, 235, 0.1);

    --color-highlight: #00A86B;

    --gradient-start: #055e68;
    --gradient-end: #347474;

    --border-primary: #29325b;
    --border-secondary: #317873;
    --border-highlight: #3EB489;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

body {
  background: transparent;
  color: var(--color-primary);
  font-size: 0.875rem;
  line-height: 1.6rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.text-gradient {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(135deg, #ffff 0, var(--gradient-end) 150%);
  background-size: 100%;
  -webkit-box-decoration-break: clone;
}

.text-gradient-1 {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(135deg, var(--gradient-start) 0, var(--gradient-end) 150%);
  background-size: 100%;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: "Rubik", serif;
  width: fit-content;
}

h1 { font-size: 1.875rem; line-height: 2.25rem; }
h2 { font-size: 1.5rem; line-height: 2rem; }
h3 { font-size: 1.25rem; line-height: 1.75rem; }
h4 { font-size: 1.125rem; line-height: 1.75rem; }
h5 { font-size: 1rem; line-height: 1.5rem; }
h6 { font-size: 0.875rem; line-height: 1.25rem; }

p { display: block; width: fit-content; }

abbr, address { font-style: normal; }

aside {
  float: right;
  width: 40%;
  padding: 0.75rem;
  margin: 0.5rem;
  font-style: italic;
  background-color: var(--background-muted);
  border-radius: var(--border-radius-large);
}

blockquote {
  position: relative;
  padding-left: 1.5rem;
}

blockquote::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-left: 7px solid var(--border-primary);
  border-radius: 6px;
}

ul, ol {
  list-style-position: inside;
  padding-left: 1rem;
}

li {
  line-height: 1.6em;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

mark, samp, kbd, code, time {
  border-radius: var(--highlight-border-radius);
}

mark {
  background-color: var(--color-highlight);
  padding: 0 4px;
}

kbd, time {
  padding: 0 0.5rem;
  background-color: var(--background-muted);
}

code, pre {
  font-size: 0.9em;
  padding: 0.2rem 0.5rem;
  background: var(--background-muted);
  border: 1px solid var(--border-primary);
  overflow-x: auto;
}

pre > code {
  padding: 10px;
  display: block;
}

pre {
  border-radius: var(--border-radius-large);
}

audio, img, video {
  border-radius: var(--border-radius-large);
  max-width: 100%;
}

table {
  border: 1px solid var(--border-primary);
  background: var(--background-muted);
  border-radius: var(--border-radius-small);
}

th {
  background-color: var(--background-muted);
}
td {
  background: var(--background-primary);
}
td, th {
  text-align: left;
  padding: 8px;
}
table tr:hover td {
  background-color: var(--background-muted);
}

input, textarea, select {
  font-size: 1em;
  background-color: var(--background-muted);
  border: 1px solid var(--border-secondary);
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius-small);
  width: 100%;
  outline: none;
}

button {
  background-color: var(--background-primary);
  padding: 0.25rem 1.25rem;
  border: 1.5px solid var(--border-secondary);
  border-radius: var(--border-radius-small);
  box-shadow: 2px 2px 0 0 var(--border-secondary);
  transition: 200ms ease-in-out;
}

button:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}

.site-header {
  text-align: center;
  background-color: #055e68;
  padding: 1rem 1.5rem;
  color: #fff;
}

.site-title {
  text-align: center;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.container {
  max-width: 700px;
  padding: 0 20px;
}

.card, .button-card {
  background-color: var(--background-muted);
  padding: 1rem;
  border-radius: 0.5rem;
}

.card {
  border: 5px dashed var(--color-link-transparent);
}

.button-card {
  border: 3px solid var(--gradient-start);
}

.button-card:hover {
  border-color: var(--color-highlight);
}

.card-button-primary {
  background: var(--color-link);
  color: var(--background-primary);
}

.card-button-secondary {
  background: var(--color-link-transparent);
  color: var(--color-link);
}

.card-button-primary:hover,
.card-button-secondary:hover {
  opacity: 0.6;
}

.btn-p {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 2.25rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background: var(--gradient-start);
  border: outset;
  border-radius: 15px;
  box-shadow: 2px 2px var(--gradient-end);
  transition: all 0.2s ease;
}

.btn-p:hover {
  opacity: 0.85;
  transform: translateY(-1px);
}

.btn-entry {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  gap: 0.5rem;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  color: black;
}

.mr-02 {
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  body {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  h1 { font-size: 2.25rem; line-height: 2.5rem; }
  h2 { font-size: 1.875rem; line-height: 2.25rem; }
  h3 { font-size: 1.5rem; line-height: 2rem; }
  h4 { font-size: 1.25rem; line-height: 1.75rem; }
  h5 { font-size: 1.125rem; line-height: 1.75rem; }
  h6 { font-size: 1rem; line-height: 1.5rem; }

  input {
    max-width: 600px;
  }
}
